.classpath
_darcs
target
.DS_Store
.*.swp
scuttle.conf
derby.log
.settings
.project
site/apidocs
site/coverage
site/surefire-report.html
site/download
doc/manual.pdf
doc/enduser.pdf
.idea

/target
/target
/target
