<h1>Modulverwaltung</h1>

<a data-go="/modulVW:index">Meine Module</a>
<a data-go="/modulVW/moduleList:alleModule">Alle Module</a>
<a data-go="/modulVW/langfristPlanung:langfristplanung">Langfristplanung</a>
<a data-go="/modulVW:index">Einstellungen</a>
<a data-go="/modulVW/newModule:newModule">Neues Modul</a>
<a data-go="/modulVW/tableTest:tableTest">Table Test</a>
<a data-go="/modulVW/editModule/1/2/:index">Edit Test</a>